/*
 * resume.css
 *
 */

/* resume */
div.resume-title { font-size: 28px;
                   font-weight: weight; }


a.resume-tool-1 { color: #2B82CB;
             font-weight: normal;
             font-size: 10px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

a.resume-tool-2 { color: #2B82CB;
             font-weight: bold;
             font-size: 12px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

a.resume-tool-3 { color: #2B82CB;
             font-weight: bold;
             font-size: 14px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

a.resume-tool-4 { color: #2B82CB;
             font-weight: bold;
             font-size: 16px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

a.resume-tool-5 { color: #2B82CB;
             font-weight: bold;
             font-size: 18px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

.resume-tool { padding: 2px;}

a.resume-lang-1 { color: #2B82CB;
             font-weight: normal;
             font-size: 10px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

a.resume-lang-2 { color: #2B82CB;
             font-weight: bold;
             font-size: 12px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

a.resume-lang-3 { color: #2B82CB;
             font-weight: bold;
             font-size: 14px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

a.resume-lang-4 { color: #2B82CB;
             font-weight: bold;
             font-size: 16px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

a.resume-lang-5 { color: #2B82CB;
             font-weight: bold;
             font-size: 18px;
             font-family: "Lucida Console", Monaco, monospace;
             text-decoration: none; }

div.resume-langs { margin-top: 20px;}

.resume-lang { padding: 2px;}


.resume-label { color: #777777; }

div.resume-expe-date { color: #777777;
                            font-size: 10px;    
    }   
div.resume-expe-title { color: #2B82CB;
                        margin-top: 10px;
                        font-size: 16px;
                        font-weight: bold; }

