/*
 * resume.css
 *
 */

#resume-title { font-size: 1.2em;
                font-weight: bold; }

  
#resume-experience-date { color: #d9c0F7;
                          font-size: 16px;
                          font-weight: bold; }

#resume-experience-title { font-size: 20px;
                           font-weight: bold; }

.restool { border: solid 1px black;
           margin: 8px;
           padding: 4px;}