{% extends "base.html" %}
{% load i18n %}{% load compress %}{% load crispy_forms_tags %}
{% block jsheaders %}
<script src="{{STATIC_URL}}js/mapmain.js"></script>
<script src="{{STATIC_URL}}js/companymap.js"></script>
{% endblock %}
{% block body %}
<body onload="addmap({{object.lon}}, {{object.lat}});">{% endblock %}
{% block content %}
<!-- llx/company_edit.html -->
<div class="row">
  <div class="col-md-8">
    <div>
      {% crispy form %}
    </div>
  </div>

  <div class="col-md-4">

  </div>
</div>
{% endblock %}
