{% extends "base.html" %}
{% load i18n %}{% load compress %}{% load crispy_forms_tags %}
{% block jsheaders %}
<script src="{{STATIC_URL}}js/mapmain.js"></script>
<script src="{{STATIC_URL}}js/companymap.js"></script>{% endblock %}
{% block body %}
<body onload="addmap(0,0);">{% endblock %}
{% block content %}
<!-- llx/company_new.html -->
<div class="row">

  <div class="col-md-8">
    {% crispy form %}
  </div>

  <div class="col-md-4">
    <div>
      {{object.name}}
    </div>

  </div>
</div>

{% endblock %}
