{% extends "base.html" %}
{% load i18n %}
{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th class="span3">{% trans "Name" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for comp in object_list %}
    <tr>
      <td>
	{% if comp.slug %}
	<a href="{{comp.slug}}">{{comp.name}}</a>
	{% else %}
	<a href="{{comp.id}}/">{{comp.name}}</a>
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
