{% extends "base.html" %}
{% load i18n %}{% load cache %}{% load markup_tags %}
{% block cssheaders %}
<link href="{{ STATIC_URL }}css/graph.css" rel="stylesheet">
{% endblock %}

{% block jsheaders %}
<script src="{{ STATIC_URL }}js/graph.js"></script>
<script src="{{ STATIC_URL }}js/vendor/colorbrewer.js"></script>
{% endblock %}
{% block body %}
<body onload="pie('/stats/main_{{familyname}}.json', {{family}});treemap('/stats/toolmap_{{familyname}}.json', {{family}})">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">

    <div class="row">
      <div class="col-md-4">
        <div id="divgraph"></div>
      </div>
      <div class="col-md-4">
        <div id="treemapgraph"></div>
        <div class="treemap_label">Compétences recherchées</a></div>
      </div><!-- col-md-5 -->

    </div><!-- row -->
  
  {% cache 300 jobhome family %}
<div>
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th class="span3"><a href="offres/">{% trans "Dernières offres" %}</a></th>
	  </tr>
	</thead>
    <tbody>
	  {% for job in jobs %}
	  <tr>
	    <td><a href="{{job.get_absolute_url}}">{{job.title}}</a></td>
	    <td>{{job.company.name}}</a></td>
	  </tr>
      {% endfor %}
	</tbody>
      </table>
    </div>
    {% endcache %}    

    {% cache 300 resumehome family %}
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="span3"><a href="cv/">{% trans "Derniers CV parus" %}</a></th>
          </tr>
        </thead>
        <tbody>
          {% for res in resumes %}
          <tr>
            <td><a href="{% url 'resume' res.0 %}">{{ res.1 }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endcache %}
  </div>

  <div class="col-md-4">
    {% cache 3600 motdshome %}    
    {% for res in motds %}
    <div class="panel panel-default">
      <div class="panel-heading">{{res.title}}</div>
      <div class="panel-body">{{ res.body|apply_markup:"markdown" }}</div>
    </div>
    {% endfor %}
    {% endcache %}
  </div>

</div>
{% endblock %}
