{% extends "base.html" %}
{% load i18n %}{% load crispy_forms_tags %}
{% block jsvendors %}
<script src="{{STATIC_URL}}vendor/bootstrap3-typeahead.js"></script>{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <p>
      Une seule compétence vous manque et votre CV/offre est
      dépeuplé(e) !</p>
    <p>Qu'à cela ne tienne, vous pouvez nous demander
      celle qui vous semble pertinente au moyen de ce
      formulaire. Toute proposition qui n'aurait pas de rapport avec
      le logiciel libre ne pourra être retenue.
    </p>
    {% crispy form %}
  </div>

  <div class="col-md-4">
    Demandes en cours de traitement
    <ul>
      {% for tool in tools %}
      {% if is_moderator %}
      <li>
      <a href="{{tool.url}}">{{tool.name}} ({{tool.slug}})</a>
      {{tool.slug}}
      <p>{{tool.comment}}</p>
      <a class="btn btn-sm btn-success" href="accept/{{tool.id}}">Accepte</a>
      <a class="btn btn-sm btn-danger" href="refuse/{{tool.id}}">Refuse</a>
      </li>
      {% else %}
      <li><a href="{{tool.url}}">{{tool.name}} ({{tool.slug}})</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
{% block jsfooter %}
<script src="{{STATIC_URL}}js/typeahead-newtool.js"></script>{% endblock %}
