{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Deconnexion" %}{% endblock %}

{% block content %}
<h1>{% trans "Déconnexion" %}</h1>

<p>{% trans 'Voulez-vous vraiment vous déconnecter ?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans 'Envoyer' %}</button>
</form>


{% endblock %}
