{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<h1>{% trans "Mot de passe perdu" %}</h1>


{% if user.is_authenticated %}
<div class="alert alert-danger">
  {% include "account/snippets/already_logged_in.html" %}
</div>
  {% endif %}

<div class="well">

    
    <p>{% trans "Si vous ne retrouvez plus votre mot de passe, saisissez votre email et nous vous enverrons un email pour changer celui-ci." %}</p>

  <form method="POST" action="{% url 'account_reset_password' %}" >
    {% csrf_token %}


    <div class="form-group">
      <label for="id_email">Adresse email</label>
	  <input name="email" type="email" class="form-control" id="id_email" placeholder="Enter email" required autofocus />
	  {{form.email.errors}}
	</div>


        <button class="btn btn-primary" type="submit">{% trans "Envoyer" %}</button>
    </form>
    
    </div>
    
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}


    