{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block head_title %} - {% trans "Sign Up" %}{% endblock %}
{% block content %}
<h1>{% trans "Créer un nouveau compte" %}</h1>

<p>{% blocktrans %}Si vous avez déjà un compte, vous pouvez vous <a href="{{ login_url }}">authentifier</a>
 directement.{% endblocktrans %}</p>

<div class="well">
  
  <form method="post" id="signup_form" action="{% url 'account_signup' %}" >
    {% csrf_token %}
    <div class="form-group">
      <label for="id_username">{% trans "Login" %}</label>
      <input name="username" type="text" class="form-control" id="id_username" placeholder="Username" required autofocus />
      {{form.username.errors}}
    </div>

    <div class="form-group">
      <label for="id_email">{% trans "Adresse email" %}</label>
	  <input name="email" type="email" class="form-control" id="id_email" placeholder="Enter email" required autofocus />
	  {{form.email.errors}}
	</div>

	<div class="form-group">
	  <label for="id_password1">{% trans "Mot de passe" %}</label>
	  <input name="password1" type="password" class="form-control"
	  id="id_passwordpassword1" placeholder="Password 6 characters minimum" required autofocus />
	  {{form.password1.errors}}
	</div>

	<div class="form-group">
	  <label for="id_password2">{% trans "Vérification du mot de passe" %}</label>
	  <input name="password2" type="password" class="form-control" id="id_exampleinputpassword2" placeholder="Password check" required autofocus />
	  {{form.password2.errors}}
	</div>

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    
    <input type="submit" class="btn btn-primary" value="{% trans 'Envoyer !' %}" />
    </form>
</div>

{% endblock %}
