{% load i18n compress llxcdn %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lolix{% block head_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lolix, offres d'emploi dédiées logiciel libre">
    <meta name="keywords" content="cv, offre, emploi, logiciel, libre, recrutement">
    <meta name="author" content="Rodolphe Quiédeville">
    <link href="{% cdn_url %}vendor/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- These CSS can-t be put in lolix.css -->
    <style type="text/css">
     body { padding-top: 60px; padding-bottom: 40px; }
     .sidebar-nav { padding: 9px 0; }
    </style>
    <link href="{% cdn_url %}vendor/bootstrap.css" rel="stylesheet">
    <link href="{% cdn_url %}vendor/leaflet/leaflet.css" rel="stylesheet">
    <link href="{% cdn_url %}fonts/ubuntu-font-family/font-face.css" rel="stylesheet">
    {% compress css %}
    <link href="{{ STATIC_URL }}css/lolix.css" rel="stylesheet">
    {% block cssheaders %}{% endblock %}
    {% endcompress %}
    <!-- jsheaders -->
    <script src="{% cdn_url %}vendor/jquery-1.11.0.min.js"></script>
    <script src="{% cdn_url %}vendor/d3.v3.min.js"></script>
    <script src="{% cdn_url %}vendor/leaflet/leaflet.js"></script>
    <script src="{% cdn_url %}vendor/mustache.js"></script>
    {% block jsvendors %}{% endblock %}
    {% compress js %}
    <script src="{{ STATIC_URL }}js/colors.js"></script>
    {% block jsheaders %}
    {% endblock %}
    {% endcompress %}
    <!-- /jsheaders -->
    {% block headers %}
    {% endblock %}
  </head>
  {% block body %}<body>{% endblock %}
    <div id="wrap">
      {% include "navbar.html" %}
      <div id="container" class="container">

      <div class="row">
      <div class="col-md-12">
        {% block content %}
        {% endblock %}
	  </div>
      </div><!--/row-->

    </div><!--/.container-->

    </div><!--/ .wrap -->
    {% block footer %}
    {% endblock %}
    {% include "footer.html" %}    
    <script src="{% cdn_url %}vendor/bootstrap-dropdown.js"></script>
    <script src="{% cdn_url %}vendor/bootstrap-collapse.js"></script>
    <script src="{% cdn_url %}vendor/bootstrap-modal.js"></script>
    {% compress js %}
    {% block jsfooter %}{% endblock %}
    {% endcompress %}
  </body>
</html>
