{% load cache %}
{% cache 3600 footer %}
<div id="sqlfooter" class="footer">
  <hr />
  <div class="row">
    <div class="col-md-4">
      <ul>
        <li>Flux
        <ul>
          <li>
          <a href="{% url 'offres_feed' %}">Flux offres</a>
          </li>
        </ul></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li><a href="{% url 'stats_toolmap' %}">Statistiques outils</a></li>
        <li><a href="https://gitlab.com/rodo/lolyx/issues">Signaler un bug</a></li>	
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li><a href="/p/about/">A propos</a></li>
        <li><a href="{% url 'ressources' %}">Ressources extérieures</a></li>
      </ul>
    </div>
</div>
{% endcache %}
