{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">    

  <div class="col-md-8">
    <form class="form-horizontal" role="form" method="post" action=".">
	  {% csrf_token %}
            
      <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Titre</label>
        <div class="col-sm-4">
          <input name="username" type="text" class="form-control" placeholder="Titre" required autofocus>
        </div>
      </div>


      <div class="radio-inline">
	<label>
	  <input type="radio" name="description_markup" id="description_markup0" value="0" checked>
	  Texte simple
	</label>
      </div>
      <div class="radio-inline">
	<label>
	  <input type="radio" name="description_markup" id="description_markup1" value="1">
	  Markdown
	</label>
      </div>
      <div class="radio-inline">
	<label>
	  <input type="radio" name="description_markup" id="description_markup2" value="2">
	  reST
	</label>
      </div>


      <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Description de l'offre</label>
        <div class="col-sm-4">
	  <textarea name="description" class="form-control" rows="3" required autofocus></textarea>

        </div>
      </div>
      
      <button class="btn btn-lg btn-success " type="submit">Enregistrer</button>
      <a href="/account/profile/" class="btn btn-lg btn-danger">Annuler</a>

    </form>
    
  </div>

  <div class="col-md-4">
    
    <a href="/offres/new" type="button" class="btn btn-primary btn-lg btn-block">Poster une offre</a>

    <ul>
      {% for key,value in extra.iteritems %}
      <li>{{key}} {{value.public_repos}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
