{% extends "job/basejob.html" %}
{% load i18n cache markup_tags compress %}
{% block jsheaders %}
<script src="{{STATIC_URL}}js/mapmain.js"></script>
<script src="{{STATIC_URL}}js/jobmap.js"></script>
<script src="{{STATIC_URL}}js/jobrosarks.js"></script>
<script src="{{STATIC_URL}}js/llxio.js"></script>
{% endblock %}
{% block body %}
<body onload="addmap({{job.lon}},{{job.lat}});rosarks({{job.lon}},{{job.lat}});llxio('{{request.get_full_path}}');">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-2">
    {% cache 3 job-tool object.id %}
    <div class="job-label">Compétences requises</div>
    {% for tool in jobtools %}
    <a class="job-tool-{{tool.level}}" href="../?t={{tool.tool.slug}}">{{tool.tool.name}}</a>
    {% endfor %}
    {% endcache %}

    {% cache 300 job-lan object.id %}
    {% for lang in joblangs %}
    {{lang.lang.name}}
    {% endfor %}
    {% endcache %}
  </div>

  <div class="col-md-6">
    {% if object.in_moderation %}
    <div class="jumbotron">
      <div>
        <p>Annonce en moderation.</p>
        <p>Score {{object.moderation_score}} avec
	{{object.moderation_votes}} votes</p>
	{% if votes == 0 %}
	<a class="btn btn-success btn-sm" href="/job/{{job.id}}/publish/">Accept</a>
	<a class="btn btn-danger btn-sm" href="/job/{{job.id}}/refuse/">Refuse</a>
	{% endif %}
      </div>
    </div>
    {% endif %}

    <div class="job-head">
    <div class="job-title">{{ object.title }}</div>
    <h5><span class="job-label">Publiée il y a {{object.date_published|timesince}}</h5>
    <div id="llxio_url">Url directe : </div>
    </div>

    <div class="well job-poste">
      {% if object.description_markup = 0 %}
      {{ object.description }}
      {% endif %}
      {% if object.description_markup = 1 %}
      {{ object.description|apply_markup:"markdown" }}
      {% endif %}
      {% if object.description_markup = 2 %}
      {{ object.description|apply_markup:"restructuredtext" }}
      {% endif %}
    </div>

    {% if object.company.description %}
    <div>L'entreprise</div>
    <div class="well job-company">
      {% if object.company.description_markup = 0 %}
      {{ object.company.description }}
      {% endif %}
      {% if object.company.description_markup = 1 %}
      {{ object.company.description|apply_markup:"markdown" }}
      {% endif %}
      {% if object.company.description_markup = 2 %}
      {{ object.company.description|apply_markup:"restructuredtext" }}
      {% endif %}
    </div>
    {% endif %}
    
    <div>
      {% if object.salaire %}<div>Salaire : {{object.salaire}}</div>{% endif %}
      {% if object.ref %}<div>Référence interne : {{object.ref}}</div>{% endif %}      
    </div>

  </div>

  <div class="col-md-4">
    <div>
      <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Retour</a>
    </div>

    <div class="well company-box">
      <p>
      <a class="job-company-name" href="{{object.company.get_absolute_url}}">{{object.company.name}}</a>
      </p>
      {% if object.company.website %}
      <div>
        <a href="{{object.company.website}}">site web</a>
      </div>
      {% endif %}
      <div>
        <p>
        {% if object.company.adresse %}{{object.company.adresse}}{% endif %}
        {% if object.company.ville %}{{object.company.ville}}{% endif %}
        </p>
      </div>
      
      {% if user.is_authenticated %}
      <div>
        <div>{{object.contact_name}}</div>
        <div>{{object.vmail_alias|urlize}}</div>
        <div>{{object.contact_tel}}</div>
      </div>
      {% else %}
      <div>
        <div>{{object.vmail_alias|urlize}}</div>
        <div>Autres coordonnées disponibles si authentifié</div>
      </div>
      {% endif %}

      {% with company_jobs as cobs %}
      {% if cobs|length %}
      <div class="other-job">Autres postes à pourvoir</div>
      <ul class="autres-postes">
        {% for cob in cobs %}
        <li><a href="{{cob.get_absolute_url}}">{{cob.title}}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
    
    {% if user.is_authenticated %}
    <div>
      {% if bookmarked %}
      <span class="glyphicon glyphicon-star"></span>
      {% else %}
      <a href="{{object.get_absolute_url}}bookmark/" alt="Bookmarker cette offre" title="Bookmarker cette offre">
      <span class="glyphicon glyphicon-bookmark"></span>
      {% endif %}
      </a>
    </div>
    {% endif %}
    
    <div>
    <div id="jobmap"></div>
    </div>
    
    
    <div class="well" id="jobrosarks">
    <div>Comment y aller</div>
    </div>
    
    </div>
    </div>
    {% endblock %}
