{% extends "base.html" %}
{% load i18n %}{% load crispy_forms_tags %}
{% block content %}
<div class="row">    

  <div class="col-md-8">

    {% crispy form %}
    
  </div>

  <div class="col-md-4">
    <div>
      <a href="/offres/new" type="button" class="btn btn-primary btn-lg btn-block">Poster une offre</a>
    </div>

    <div>
      Vous pourrez ajouter les compétences requises et souhaitées pour
      ce poste dans la deuxième partie du formaulaire.
    </div>

  </div>
</div>
{% endblock %}
