{% extends "base.html" %}
{% load i18n %}
{% block jsheaders %}
<script src="{{STATIC_URL}}js/llxio.js"></script>
{% endblock %}

{% block body %}<body onload="llxio('{{request.get_full_path}}');">{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">

    {% for juv in object_list %}
    <div class="alert alert-info">
      <div>
	 <span class="glyphicon glyphicon-star-empty"></span>
	 <a href="{{juv.job.get_absolute_url}}">{{juv.job.title}}</a> - {{juv.job.company.name}}
      </div>
      <div>
	{{job.description}}
      </div>
    </div>
    {% endfor %}

  </div>


</div>


{% endblock %}
