{% extends "base.html" %}
{% load i18n %}
{% block content %}
<!-- job/profile.html used in tests -->
<div class="row">
  <div class="col-md-8">
    <div>
      <table class="table">
	<thead>
	  <tr>
	    <th>Société</th>
	    <th>Offre</th>
	    <th>Score</th>
	    <th>Votes</th>
	  </tr>
	</thead>
	<tbody>
	{% for job in object_list %}
	<tr>
	  <td>
	    {{job.company.name}}
	  </td>
	  <td>
	    <a href="{{job.get_absolute_url}}moderate/">{{job.title}}</a> 
	  </td>
	  <td><span class="badge">{{job.moderation_score}}</span></td>
	  <td>{{job.moderation_votes}}</td>
	  <td>
	    {% if job.id in votes %}
	    A voté
	    {% endif %}
	  </td><td>
	    <a class="btn btn-primary btn-sm" href="/job/{{job.id}}/moderate/">View</a>
	  </td>
	</tr>
	{% endfor %}</tbody>
      </table>
    </div>


  </div>

  <div class="col-md-4">

  </div>

</div>
{% endblock %}
