{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div>

      <h3>Offres archivées</h3>
      <ul class="list-group">
	{% for job in object_list %}
	<li class="list-group-item">
	  <a class="btn btn-primary btn-sm" href="/job/{{job.id}}/copy/">Copy</a>
	  {{job.date_published|date:"d M Y"}}
	  <a href="/job/{{job.id}}/edit/">{{job.title}}</a>
	</li>
	{% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-md-4">

  </div>

</div>
{% endblock %}
