{% extends "resume/baseresume.html" %}
{% load i18n %}
{% load endless %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div><h1>{{ nbjobs }} cv{{ nbjobs|pluralize}} trouvé{{ nbjobs|pluralize}}</h1></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="span3">{% trans "Name" %}</th>
        </tr>
      </thead>
      <tbody>
        {% lazy_paginate object_list %}

        {% for res in object_list %}
        <tr>
          <td><a href="{{request.path}}{{res.0 }}/">{{ res.1 }}</a></td>
          <td>{{ res.2|timesince }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% show_more %}

  </div>

  <div class="col-md-4">
    Filtres outils
  <div>
    {% for tool in tools %}
    {% if tool.0 in filters %}    
    <a class="resume-tool-{{tool.2}} tool-filter-name-select" href="{{request.path}}?t={{urlfilter|cut:tool.0}}">{{tool.1}}</a>
    {% else %}
    <a class="resume-tool-{{tool.2}} tool-filter-name" href="{{request.path}}?t={{tool.0}},{{urlfilter}}">{{tool.1}}</a>
    {% endif %}
    {% endfor %}
  </div>

  </div>
  </div>

{% endblock %}
