{% extends "base.html" %}
{% load i18n %}
{% block content %}
<!-- template : resume/resume_detail.html -->
<div class="row">    

  <div class="col-md-8">
    {{ object.title }}
    <ul>
      {% for tool in tools %}<li>{{tool.name}}</li>{% endfor %}
    </ul>
  </div>

  <div class="col-md-4">
    <ul>
      {% for key in repo %}
      <li>{{key.name}} {{key.public_repos}}
      </li>
      {% endfor %}
    </ul>

    <ul>
      {% for key in osm %}
      <li>{{key.name}}</li>
      <ul>
	<li>changesets {{key.changesets}}</li>
	<li>traces {{key.traces}}</li>
      </ul>
      {% endfor %}
    </ul>

    <ul>
      {% for key in userpage %}
      <li>{{key.name}}</li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
