{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
  <div class="col-md-8">

    {% for message in object_list %}
    <div class="alert alert-info">
      <div>
        {{message.sent_on}}
      </div>
      <div>
        {{message.body}}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
