#chart_container { 
                   position: relative;
                   font-family: Arial, Helvetica, sans-serif;
                   }
                   
#chart { 
         position: relative;
         left: 40px;
         }

#y_axis { 
          position: absolute;
          top: 0;
          bottom: 0;
          width: 40px;
          } 


.node { 
        border: solid 1px white;
        font: 10px sans-serif;
        line-height: 12px;
        overflow: hidden;
        position: absolute;
        text-indent: 2px;
        }
